body {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: darkseagreen;
    min-width: 15%;
    min-height: 20%;
    box-shadow: 5px 5px 5px 2px black;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    animation-name: example;
    animation-duration: 8s;
}

#myText {
    cursor: pointer;
}

#likeText:hover {
    text-decoration: none;
}

.fa-heart {
    color: red;
    font-size: 30px;
    position: absolute;
    animation: heartMove linear 1;
    top: -10vh;
    z-index: 0;
}

@keyframes heartMove {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(110vh);
    }
    
    
}
@keyframes example {
    0%   {background-color: darkseagreen;}
  25%  {background-color: pink;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}


